*{margin:0; padding:0;}

header {width:100%; height: 50px; background-color: #006600; color: white;}
body { background-color: white; font-family: helvetica; font-size: 18px}


#master {margin-left: 20px; margin-top: 20px; margin-right: 20px;}
#cabecalho {padding: 10px 10px; width: 50%; float:left;}
#dizer { text-align: right; float:right; padding: 10px 20px;}
#titulo {text-align: center;}
#alerta_contagem {text-align: center}
#N_contagem {font-size: 100px;}
#botao { text-align: center; padding: 10px 10px;}
#contar {width: 120px ; height: 40px; }
#retirar_aluno {width: 120px ; height: 40px; }
#reset {text-decoration: underline; color: blue; cursor: pointer;}